body{
    margin: 0%;
    padding: 0%;
    background-color:gold;
}
#div{
    width: 60%;
    margin: 20px 20%;
    padding: 0 50px;
    background-color: rgb(187, 89, 89);
    color: black;
    display:block;
}
